{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    <style>
        .news-list-container {
            padding: 20px;
        }

        .news-container {
            display: flex;
            flex-direction: row;
        }

        .karma {
            display: flex;
            flex-direction: row;
        }

        .karma-count {
            display: flex;
            flex-direction: column;
        }

        .news-infos {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .news-meta {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .karma-count {
            align-self: center;
            font-size: 32px;
        }

        .karma-buttons {
            align-self: center;
            display: flex;
            flex-direction: column;
            font-size: 34px;
            justify-content: space-between;
            height: 100%;
            margin: 0 10px;
        }

        .news-title {
            margin: 5px;
        }

        .news-link-container {
            margin-top: 0;
            margin-bottom: 10px;
        }

        .form-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="form-container">
        {{ form(form) }}
    </div>
    {% for link in links|reverse %}
        <div class="news-list-container">
            <div class="news-container">
                <div class="karma">
                    <div class="karma-count">{{ link.reactions|length }}</div>
                    <div class="karma-buttons">
                        <div class="karma-btn upvote-btn">
                            <i class="las la-chevron-up"></i>
                        </div>
                        <div class="karma-btn downvote-btn">
                            <i class="las la-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="news-infos">
                    <h2 class="news-title">{{ link.title }}</h2>
                    <p class="news-link-container">
                        <a href="{{ link.url }}" target="_blank" class="news-link">{{ link.url }}</a>
                    </p>
                    <div class="news-meta">
                        <div class="news-author">by God</div>
                        <div>{{ link.createdAt|date('Y-m-d') }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
